<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        tools:targetApi="tiramisu">
        <activity
            android:name=".home.homeSubCategory.StoreList"
            android:exported="false"
            android:theme="@style/ScreenTheme"/>
        <activity
            android:name=".home.homeSubCategory.Store"
            android:exported="false"
            android:theme="@style/ScreenTheme" />
        <activity
            android:name=".home.homeSubCategory.NewStockSub"
            android:exported="false"
            android:theme="@style/ScreenTheme" />
        <activity
            android:name=".home.homeSubCategory.NewStock"
            android:exported="false"
            android:theme="@style/ScreenTheme" />
        <activity
            android:name=".home.homeSubCategory.StockIn"
            android:exported="false"
            android:theme="@style/ScreenTheme" />
        <activity
            android:name=".home.homeSubCategory.StockList"
            android:exported="false"
            android:theme="@style/ScreenTheme" />
        <activity
            android:name=".SplashScreen"
            android:exported="true"
            android:theme="@style/splashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.homeSubCategory.PaidDebt"
            android:exported="false"
            android:theme="@style/ScreenTheme" />
        <activity
            android:name=".home.homeSubCategory.ToOrderSub"
            android:exported="false"
            android:theme="@style/ScreenTheme" />
        <activity
            android:name=".home.homeSubCategory.WorkerDebt"
            android:exported="false"
            android:theme="@style/ScreenTheme" />
        <activity
            android:name=".home.homeSubCategory.StockOut"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.homeSubCategory.DebtTracker"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.homeSubCategory.Workers"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.homeSubCategory.Paybills"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".home.homeSubCategory.ToOrder"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>