<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/splashScreenTheme"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Home.HomeSubCategory.PaidDebt"
            android:exported="false"
            android:theme="@style/ScreenTheme"/>
        <activity
            android:name=".Home.HomeSubCategory.ToOrderSub"
            android:exported="false"
            android:theme="@style/ScreenTheme"/>
        <activity
            android:name=".Home.HomeSubCategory.WorkerDebt"
            android:exported="false"
            android:theme="@style/ScreenTheme"/>
        <activity
            android:name=".Home.HomeSubCategory.StockOut"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home.HomeSubCategory.DebtTracker"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home.HomeSubCategory.Workers"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home.HomeSubCategory.StockIn"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home.HomeSubCategory.Paybills"
            android:exported="false"
            android:parentActivityName=".MainActivity"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Home.HomeSubCategory.ToOrder"
            android:exported="false"
            android:theme="@style/ScreenTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/ScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>